{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

<section class="content-section" data-background="#fffbf7">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="section-title text-center">
                    <figure><img src="/static/base/images/favicon.png" alt="Image"></figure>
                    <h2>{{destacado1.titulo|safe}}</h2>
                </div>
            </div>
            <div class="col-lg-7">
                <figure class="image-box" data-scroll data-scroll-speed="-1" > <img src="{{destacado1.imagen_destacado.url}}" alt="Image"> </figure>
            </div>
            <div class="col-lg-5">
                <div class="side-icon-list right-side">
                    <ul>
                        <li>
                            <figure> <img src="/static/base/images/icon03.png" alt="Image"> </figure>
                            <div class="content">
                                <h5>{{destacado1.subtitulo}}</h5>
                                <p>{{destacado1.descripcion|safe}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="section-title">
                    <figure><img src="/static/base/images/favicon.png" alt="Image"></figure>
                    <h6>Pedir perdón es de inteligentes, perdonar es de nobles y perdonarse es de sabios.</h6>
                    <h2>REFLEXIONES</h2>
                </div>
            </div>
            <!--<div class="col-lg-3"> <a href="#" class="circle-button">BOOK AN <br>EVENT</a> </div>-->
        </div>
        <div class="row justify-content-center">
            {% for item in reflexiones %}
                <div class="col-lg-4 col-md-6">
                    <div class="exhibition-box" data-scroll data-scroll-speed="-1" >
                        <figure> 
                            <img src="{{item.foto.url}}" alt="Image" class="img">
                            <div class="info">
                                <figure class="i"><img src="/static/base/images/icon-info.png" alt="Image"></figure>
                                <span>50% off exhibitions</span> 
                            </div>
                            <div class="play-now">
                                <a href="{{item.url_video}}" data-fancybox data-width="640" data-height="360"  class="play-btn"></a>
                            </div>
                        </figure>
                        <div class="content-box">
                            <h4>{{item.nombre}}</h4>
                            <p> {{item.fecha}} </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-12 text-center"> <a href="#" class="custom-button">VER TODAS LAS REFLEXIONES</a></div>
        </div>
    </div>
</section>
<section class="content-section no-bottom-spacing bottom-white" data-background="#fffbf7">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center">
                    <figure><img src="/static/base/images/favicon.png" alt="Image"></figure>
                    <h2>Destacados <br>
                        del mes</h2>
                </div>
            </div>
            {% for item in destacado2 %}
                <div class="col-lg-4 col-md-6">
                    <div class="text-content" data-scroll data-scroll-speed="-1">
                        <h6>{{item.titulo}}</h6>
                        <p>{{item.descripcion|safe}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="content-section">
    <div class="video-bg">
        <video src="/static/base/videos/donheli.mp4" loop autoplay playsinline muted></video>
    </div>
    <div class="container">
        <div class="cta-box" data-scroll data-scroll-speed="-1">
            <h6>UNASE A NUESTRO NEWSLETTER</h6>
            <h2>Contenido <br>
                valor +</h2>
            <a href="#" class="custom-button">Registrese</a>
        </div>
    </div>
</section>

<section class="content-section">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="section-title text-center">
                <figure><img src="/static/base/images/title-shape.png" alt="Image"></figure>
                <h6>&Uacute;ltimas noticias</h6>
                <h2>Noticias recientes</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
    <div class="col-12">
        <div class="recent-news">
            <div class="content-box"> <small>Dec 26, 2020</small>
                <h3>The Ultimate Guide To
                Knots Practice Kit</h3>
                <p>Learn to tie over 250 knots
                with step-by-step instructions.
                Supplied with 4...</p>
                <a href="#" class="custom-link">Continue reading</a>
            </div>
            <figure data-scroll data-scroll-speed="-1"><img src="/static/base/images/recent-news01.jpg" alt="Image"></figure>
        </div>
    </div>
    <!-- end col-8 -->
    <div class="col-12">
        <div class="recent-news">
        <div class="content-box"><small>Dec 26, 2020</small>
            <h3>The Ultimate Guide To
            Knots Practice Kit</h3>
            <p>Learn to tie over 250 knots
            with step-by-step instructions.
            Supplied with 4...</p>
            <a href="#" class="custom-link">Continue reading</a> </div>
        <!-- end content-box -->
        <figure data-scroll data-scroll-speed="1"><img src="/static/base/images/recent-news02.jpg" alt="Image"></figure>
        </div>
        <!-- end recent-news -->
    </div>
    <!-- end col-9 -->
    <div class="col-12 text-center"> <a href="news.html" class="circle-button">SEE ALL<br>
        NEWS</a> </div>
    <!-- end col-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end container -->
</section>

<section class="content-section no-spacing" data-background="#94ffc4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="newsletter-box">
                    <div class="form">
                        <div class="titles">
                            <h6>Subscr&iacute;base al Newsletter</h6>
                            <h2>Registrese para recibir las <br>&uacute;ltimas noticias</h2>
                        </div>
                        <div class="inner">
                            <input type="email" placeholder="Ingrese su direcci&oacute;n de e-mail">
                            <input type="submit" value="Enviar">
                        </div>
                        <small>Se utilizará de acuerdo con nuestra <a href="#">Pol&iacute;tica de Privacidad</a></small>
                    </div>
                    <figure class="newsletter-image" data-scroll data-scroll-speed="0.7"><img src="/static/base/images/newsletter-image.png" alt="Image"></figure>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock contenido %}
